*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    padding: 5px 2%;
    width: 98%;
    background: #fff;
    height: 80px;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;


}

header div img src="logo.jfif"{
    list-style: none;
    width: 20px;
    height: 18px
    display :left;
}


main div img src="cobra.jfif"{
    display: :right;
    list-style: none;
    border: 1px solid beige;
    
}
main div img src="tag1.jfif"{
    display: :right;
    list-style: none;
    border: 1px solid beige;
    
}

main div img src="artetrem-15.png"{
    display: :left;
    list-style: none;
    border: 1px solid beige;
    
}

footer div img src="lavanderia.jpg"{
    display: flex;
    list-style: none;
    border: 1px solid beige;
    
}
main nav ul li{
    margin: 20px 5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    width: 80px;
    height: 35px;
    border-radius:  5px;
    background-color: rgb(252, 252, 238);
    border: 1px solid #fff;
    color: #251c31;

}
main nav ul li :hover{
    background: #fff;
    color: #e0d7ec;
    


main{
    width: 80%;
    margin: 5px auto;
    background: #fff;
    height: 500px;

}

footer{
    width: 100%;
    background: #e0d7ec;
    height: 200px;
}
h1{
    color: black;
}