*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    padding: 35px 5%;
    width: 90%;
    background: #fff;
    height: 250px;
    color: black;
    display: flex;
    justify-content: space-between;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header div img{
   width: 300px;
   height: 250px;
}


nav ul{
    display: flex;
    list-style: none;
    border: 1px solid beige;
    
}

nav ul li{
    margin: 20px 5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    width: 80px;
    height: 35px;
    border-radius:  5px;
    background-color: rgb(252, 252, 238);
    border: 1px solid #fff;
    color: #251c31;

}
nav ul li :hover{
    background: #fff;
    color: #e0d7ec;
}


main{
    width: 100%;
    margin: 5px auto;
    background: #fff;
    height: 500px;

}

iframe{
    width: 100%;
    height: 100%;
}


h1{
    padding: 2%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    padding: 2%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    padding: 2%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}