<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro de Clientes</title>
</head>
    <body>  
    <h1>Cadastro de filmes</h1>
        <form action="/CadastroClientes/salvar" method="post">
            <input type="hidden" name="id" id="id" th:value="${CadastroClientes.id}">
            nome: <input type="text" name="nome" id="nome" th:value="${CadastroClientes.nome}"> <br>
            nome diretor: <input type="text" name="sobrenome" id="sobrenome" th:value="${CadastroCliente.nomeDiretor}"> <br>
            genero: <input type="text" name="genero" id="genero" th:value="${CadastroClientes.genero}"> <br>
            <input type="submit" value="Salvar">
        t       ype="submit" value="Salvar">
            </form>
            <br />
            <a href="/filme">Voltar para lista </a>
        <br/>
    </body>
</html>

